---
layout: default
title: Android Design Tips
---

<h1 class="page-title">AndroidDesign.Tips</h1>

<div class="layout">
  <div class="layout__content">
    {% include unit-calculator.html %}
    {% include icon-sizing.html %}
    {% include bar-sizing.html %}
    {% include navigation-styles.html %}
    {% include 9patch-images.html %}
    {% include common-viewports.html %}
    {% include asset-conventions.html %}
    {% include links.html %}
  </div>

  <div class="layout__sidebar">
    <h2>Jump to:</h2>

    <ul class="sidebar__links">
      <li><a href="#unit-calculator">Unit calculator</a></li>
      <li><a href="#icon-sizing">Icon sizing</a></li>
      <li><a href="#action-bar-sizing">Action Bar sizing</a></li>
      <li><a href="#navigation-styles">Navigation styles</a></li>
      <li><a href="#nine-patch-images">9-patch images</a></li>
      <li><a href="#common-viewport-sizes">Common viewport sizes</a></li>
      <li><a href="#asset-naming-conventions">Asset naming conventions</a></li>
      <li><a href="#links">Links</a></li>
    </ul>

    <p>Made by <a href="https://twitter.com/destroywerk">@destroywerk</a> and <a href="https://twitter.com/BPScott">@BPScott</a>.</p>
  </div>
</div>
