---
layout: default
title: Android Design Tips
og_image: http://androiddesign.tips/img/device.png
meta_description: A cheat sheet of suggestions and utilities for use when designing for the Android ecosystem
---

<h1 class="page-title"><span class="page-title__inner">AndroidDesign.Tips</span></h1>

<div class="top-nav">
  <ul class="top-nav__links">
    <li><a href="#unit-calculator">Unit calculator</a></li>
    <li><a href="#icon-sizing">Icon sizing</a></li>
    <li><a href="#action-bar-sizing">Action Bar sizing</a></li>
    <li><a href="#navigation-styles">Navigation styles</a></li>
    <li><a href="#nine-patch-images">9-patch images</a></li>
    <li><a href="#device-dimensions">Device Dimensions</a></li>
    <li><a href="#asset-naming-conventions">Asset naming</a></li>
    <li><a href="#links">Links</a></li>
  </ul>
</div>

<div class="layout">
  <div class="layout__content">
    {% include unit-calculator.html %}
    {% include icon-sizing.html %}
    {% include bar-sizing.html %}
    {% include navigation-styles.html %}
    {% include 9patch-images.html %}
    {% include common-viewports.html %}
    {% include asset-conventions.html %}
    {% include links.html %}
  </div>

  <div class="layout__sidebar">
    <h2>Jump to:</h2>

    <ul class="sidebar__links">
      <li><a href="#unit-calculator">Unit calculator</a></li>
      <li><a href="#icon-sizing">Icon sizing</a></li>
      <li><a href="#action-bar-sizing">Action Bar sizing</a></li>
      <li><a href="#navigation-styles">Navigation styles</a></li>
      <li><a href="#nine-patch-images">9-patch images</a></li>
      <li><a href="#device-dimensions">Device Dimensions</a></li>
      <li><a href="#asset-naming-conventions">Asset naming</a></li>
      <li><a href="#links">Links</a></li>
    </ul>

    <h2>Share</h2>

    <ul class="share">
      {% assign share_url = site.share_base_url %}
      <li><a href="http://twitter.com/intent/tweet?text=A%20quick-start%20guide%20to%20designing%20for%20Android%3A&amp;url={{share_url}}" target="_blank" class="share__link share__link--twitter"><i class="share__icon"></i> <span>Twitter</span></a></li>
      <li><a href="http://www.facebook.com/sharer.php?u={{share_url}}" target="_blank" class="share__link share__link--facebook"><i class="share__icon"></i> <span>Facebook</span></a></li>
      <li><a href="https://plus.google.com/share?url={{share_url}}" target="_blank" class="share__link share__link--google"><i class="share__icon"></i> <span>Google+</span></a></li>
    </ul>

    <p>Made by <a href="https://twitter.com/destroywerk">@destroywerk</a> and <a href="https://twitter.com/BPScott">@BPScott</a>.</p>
  </div>
</div>
