<div class="section" id="nine-patch-images">
  <h2 class="section__header">9-patch images</h2>

  <div class="nine-patch">
    <div class="nine-patch__img">
      <img src="/img/9patch.png" alt="">
      <span class="nine-patch__img__fill">Fill area</span>
      <span class="nine-patch__img__stretch">Stretchable area</span>
    </div>
    <div class="nine-patch__text">
      <p>
        9-patch images should be saved with the suffix .9.png (e.g. asset.9.png).
        The one pixel border defines the parameters of the asset and must be solid black (#000) and transparent elsewhere.
      </p>
      <p><a href="http://android-ui-utils.googlecode.com/hg/asset-studio/dist/nine-patches.html">Android quick 9-patch creator tool</a>.</p>
    </div>
  </div>
</div>
