<div class="section" id="nine-patch-images">
  <h2 class="section__header">9-patch images</h2>

  <div class="nine-patch">
    <div class="nine-patch__img">
      <img src="/img/9patch.png" alt="">
      <span class="nine-patch__img__fill">Fill area</span>
      <span class="nine-patch__img__stretch">Stretchable area</span>
    </div>
    <div class="nine-patch__text">
      <p>9-patch images can seem like a complicated beast, but once you’ve grasped it they’re incredibly useful. By saving out a png as [name].9.png Android recognises it as a 9-patch file and will use the 1-pixel #000 guides to scale the image and define the content area.
      </p>

      <p>The top and left are the stretchable areas and the bottom and right are how to define where the content will fill. You need to bear in mind that the 1-pixel guide lines MUST be #000000 and at the edges of your image boundary and the rest of that 1px edge must be COMPLETELY transparent. Even 1 anti-aliased half pixel will cause the .9.png to fail.</p>

      <p><a href="http://romannurik.github.io/AndroidAssetStudio/nine-patches.html">Android quick 9-patch creator tool</a>.</p>
    </div>
  </div>
</div>
