<div class="section" id="asset-naming-conventions">
  <h2 class="section__header">Asset naming conventions</h2>

  <p>
    For your and your teams's sanity, stick to a naming convention when naming
    your assets, based on what they represent. We suggest the following:
  </p>

  <h3>Drawable assets</h3>

  <p>
    Assets names should be prefixed with the type of asset. If the asset is a
    9-patch png file identify this by suffixing it with ".9".
  </p>
  <table class="asset-table">
    <thead>
      <tr><th>Asset Type</th><th>Prefix</th><th>Example</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>Action bar</td>
        <td>ab_</td>
        <td>ab_stacted.9.png</td>
      </tr>
      <tr>
        <td>Button</td>
        <td>btn_</td>
        <td>btn_send_pressed.9.png</td>
      </tr>
      <tr>
        <td>Dialog</td>
        <td>dialog_</td>
        <td>dialog_top.9.png</td>
      </tr>
      <tr>
        <td>Divider</td>
        <td>divider_</td>
        <td>divider_horizontal.9.png</td>
      </tr>
      <tr>
        <td>Icon</td>
        <td>ic_</td>
        <td>ic_star.png</td>
      </tr>
      <tr>
        <td>Menu</td>
        <td>menu_</td>
        <td>menu_submenu_bg.9.png</td>
      </tr>
      <tr>
        <td>Notification</td>
        <td>notification_</td>
        <td>notification_bg.9.png</td>
      </tr>
      <tr>
        <td>Tabs</td>
        <td>tabs_</td>
        <td>tabs_pressed.9.png</td>
      </tr>
    </tbody>
  </table>

  <h3>Icon assets</h3>

  <p>Icon assets should be prefixed with the type of icon that they are.</p>

  <table class="asset-table">
    <thead>
      <tr><th>Asset Type</th><th>Prefix</th><th>Example</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>Icons</td>
        <td>ic_</td>
        <td>ic_star.png</td>
      </tr>
      <tr>
        <td>Launcher icons</td>
        <td>ic_launcher_</td>
        <td>ic_launcher_calendar.png</td>
      </tr>
      <tr>
        <td>Action bar icons</td>
        <td>ic_menu_</td>
        <td>ic_menu_archive.png</td>
      </tr>
      <tr>
        <td>Status bar icons</td>
        <td>ic_stat_notify_</td>
        <td>ic_stat_notify_message.png</td>
      </tr>
      <tr>
        <td>Tab icons</td>
        <td>ic_tab_</td>
        <td>ic_tab_recent.png</td>
      </tr>
    </tbody>
  </table>

  <h3>Selector states</h3>

  <p>
    Assets that are selectable, such as buttons or tabs should be suffixed with
    the state that the the asset is in.
  </p>

  <table class="asset-table">
    <thead>
      <tr><th>State</th><th>Suffix</th><th>Example</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>Normal</td>
        <td>_normal</td>
        <td>btn_order_normal.9.png</td>
      </tr>
      <tr>
        <td>Pressed</td>
        <td>_pressed</td>
        <td>btn_order_pressed.9.png</td>
      </tr>
      <tr>
        <td>Focused</td>
        <td>_focused</td>
        <td>btn_order_focused.9.png</td>
      </tr>
      <tr>
        <td>Disabled</td>
        <td>_disabled</td>
        <td>btn_order_disabled.9.png</td>
      </tr>
    </tbody>
  </table>
</div>
