<div class="section">
  <h2 class="section__header">Action / navigation bar sizing</h2>
  <p>
    The height of the action / navigation bar varies dependent upon the size and
    orientation of the screen you are designing for.
    Designs should be set on a roughly 48dp grid with 8dp gutters.
    <a href="http://developer.android.com/design/patterns/actionbar.html">Action bar design guidelines</a>.
  </p>

  <div class="sizing-icons">
    <div class="sizing-icon sizing-icon--bar">
      <div class="sizing-icon__demo sizing-icon__demo--bar">
        <div class="sizing-icon__demo__bar sizing-icon__demo__bar--small-portrait">48dp</div>
      </div>
      <h3 class="sizing-icon__header">Small Screen, Portrait</h3>
      <ul class="sizing-icon__attributes">
        <li>48dp high</li>
      </ul>
    </div>

    <div class="sizing-icon sizing-icon--bar">
      <div class="sizing-icon__demo sizing-icon__demo--bar">
        <div class="sizing-icon__demo__bar sizing-icon__demo__bar--small-landscape">40dp</div>
      </div>
      <h3 class="sizing-icon__header">Small Screen, Landscape</h3>
      <ul class="sizing-icon__attributes">
        <li>40dp high</li>
      </ul>
    </div>

    <div class="sizing-icon sizing-icon--bar">
      <div class="sizing-icon__demo sizing-icon__demo--bar">
        <div class="sizing-icon__demo__bar sizing-icon__demo__bar--large">56dp</div>
      </div>
      <h3 class="sizing-icon__header">Tablet Screen</h3>
      <ul class="sizing-icon__attributes">
        <li>56dp high</li>
      </ul>
    </div>
  </div>
</div>
