<div class="section" id="action-bar-sizing">
  <h2 class="section__header">Action / navigation bar sizing</h2>
  <p>
    The height of the action / navigation bar varies dependent upon the size and
    orientation of the screen you are designing for.
    Designs should be set on a roughly 48dp grid with 8dp gutters.
    <a href="http://developer.android.com/design/patterns/actionbar.html">Action bar design guidelines</a>. 
    <a href="https://drive.google.com/file/d/0BweDFA2M-Nx3eTNrLUFDZ0VsRkk">Examples of recent Action Bars from popular apps.</a>.
    
    
    
  </p>

  <div class="sizing-icons">
    <div class="sizing-icon sizing-icon--bar">
      <div class="sizing-icon__demo sizing-icon__demo--bar">
        <div class="sizing-icon__demo__bar sizing-icon__demo__bar--small-portrait">48dp</div>
      </div>
      <h3 class="sizing-icon__header">Small Screen, Portrait</h3>
      <ul class="sizing-icon__attributes">
        <li>48dp high</li>
      </ul>
    </div>

    <div class="sizing-icon sizing-icon--bar">
      <div class="sizing-icon__demo sizing-icon__demo--bar">
        <div class="sizing-icon__demo__bar sizing-icon__demo__bar--small-landscape">40dp</div>
      </div>
      <h3 class="sizing-icon__header">Small Screen, Landscape</h3>
      <ul class="sizing-icon__attributes">
        <li>40dp high</li>
      </ul>
    </div>

    <div class="sizing-icon sizing-icon--bar">
      <div class="sizing-icon__demo sizing-icon__demo--bar">
        <div class="sizing-icon__demo__bar sizing-icon__demo__bar--large">56dp</div>
      </div>
      <h3 class="sizing-icon__header">Tablet Screen</h3>
      <ul class="sizing-icon__attributes">
        <li>56dp high</li>
      </ul>
    </div>
  </div>

  <p>
    When placing icons within the Action Bar you can either have them on display
    or hidden within the Menu Overflow.Google suggests that only actions which
    are F.I.T. (Frequent, Important or Typical) are displayed within and
    everything else is moved into the Menu Overflow. It's part of their remit to "Simplify productivity". <!-- <a href="#">'Examples of recent Action Bars</a>. -->
  </p>
</div>
