<div class="section" id="device-dimensions">
  <h2 class="section__header">Device Dimensions</h2>

  <div class="viewports">
    <div class="viewports__img">
      <img src="/img/device.png" alt="">
    </div>
    <div class="viewports__text">
      <ul>
        <li>Nexus 4: 768&times;1280px (xhdpi)</li>
        <li>Nexus 5: 1080&times;1920px (xxhdpi)</li>
        <li>Samsung Galaxy S3: 720&times;1280px (xhdpi)</li>
        <li>Samsung Galaxy S4: 1080&times;1920px (x xhdpi)</li>
        <li>HTC One: 1080&times;1920px (xxhdpi)</li>
        <li>LG G2: 1080&times;1920px (xxhdpi)</li>
        <li>Motorola Moto X: 768&times;1280px (xhdpi)</li>
      </ul>

      <p>Find more viewport sizes at <a href="http://viewportsizes.com/">ViewportSizes.com</a>.</p>
    </div>
  </div>
</div>
