<div class="section" id="icon-sizing">
  <h2 class="section__header">Icon sizing</h2>
  <p>
    Each icon within the Android ecosystem has a specific size in
    density-independent pixels (dp).
    Of that area a smaller subset should be the focal area.
    <a href="https://developer.android.com/design/style/iconography.html">Iconography design guidelines</a>.
  </p>

  <div class="sizing-icons">
    <div class="sizing-icon">
      <div class="sizing-icon__demo">
        <div class="sizing-icon__demo__box sizing-icon__demo__box--launcher">48dp</div>
      </div>
      <h3 class="sizing-icon__header">Launcher icon</h3>
      <ul class="sizing-icon__attributes">
        <li>48dp assets</li>
        <li>48dp focal area</li>
      </ul>
    </div>

    <div class="sizing-icon">
      <div class="sizing-icon__demo">
        <div class="sizing-icon__demo__box sizing-icon__demo__box--action-bar">24dp</div>
      </div>
      <h3 class="sizing-icon__header">Action bar icons</h3>
      <ul class="sizing-icon__attributes">
        <li>32dp assets</li>
        <li>24dp focal area</li>
        <li>#FFFFFF 80%</li>
      </ul>
    </div>

    <div class="sizing-icon">
      <div class="sizing-icon__demo">
        <div class="sizing-icon__demo__box sizing-icon__demo__box--notification">22dp</div>
      </div>
      <h3 class="sizing-icon__header">Notification icons</h3>
      <ul class="sizing-icon__attributes">
        <li>24dp assets</li>
        <li>22dp focal area</li>
        <li>#FFFFFF</li>
      </ul>
    </div>

    <div class="sizing-icon">
      <div class="sizing-icon__demo">
        <div class="sizing-icon__demo__box sizing-icon__demo__box--contextual">12</div>
      </div>
      <h3 class="sizing-icon__header">Contextual icons</h3>
      <ul class="sizing-icon__attributes">
        <li>16dp assets</li>
        <li>12dp focal area</li>
      </ul>
    </div>
  </div>
</div>
