<div class="section" id="links">
  <h2 class="section__header">Links</h2>

  <p>We highly recommend you go and read Google’s own Android guidelines which
    do a more thorough and in-depth job of explaining all the nuances of the
    platform.<br>Read it. Learn it. Create.</p>

  <ul>
    <li><a href="https://developer.android.com/design/index.html">Android design guidelines</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLWz5rJ2EKKc8j2B95zGMb8muZvrIy-wcF">Android design in action</a></li>
    <li><a href="https://developer.android.com/develop/index.html">Android developer guidelines</a></li>
  </ul>
</div>
