<div class="section" id="navigation-styles">
  <h2 class="section__header">Navigation styles</h2>

  <p>
    The three mainly used way of navigating within Android apps are Tabs, Spinner &amp; Navigation drawer. Tabs are swipeable sections which are efficient and visibly display all top levels side-by-side although it takes up vertical real estate and should really be no more than 3 items. The Spinner menu is the dropdown from the Action Bar which can display many items and is very compact but inaccessible from lower levels and seems to be falling out of fashion within Android design. Navigation Drawers are Android's answer to the 'hamburger' side menu as popularised in Facebook, Path &amp; others on iOS and is very flexible. You can display numerous views (&amp; sub-views in collapsible sections), it's very compact and is accessible from anywhere. <a href="https://www.youtube.com/watch?v=XpqyiBR0lJ4">Google I/O 2013 talk on navigation patterns</a>.
  </p>
</div>
