<div class="section" id="unit-calculator">
  <h2 class="section__header">Unit calculator</h2>
  <p>One of the fragmentation issues of Android is that your app may be
    installed on devices with a variety of pixel densities and as such you need
    to create each icon at a variety of sizes. These follow a very specific
    scaling ratio of 1 : 1.5 : 2 : 3 : 4 (with MDPI as the baseline 1x).
    Enter the pixel dimensions of the size you’re designing at and the other
    densities will auto-fill.</p>


  <noscript><p><strong>Please enable JavaScript to use the unit calculator</strong></p></noscript>
  <form class="unit-inputs">

    <div class="unit-input">
      <input type="number" id="unit-input__input--mdpi" class="unit-input__input" data-multiplier="1">
      <label for="unit-input__input--mdpi" class="unit-input__label">
        MDPI <span class="unit-input__multiplier">(1x)</span>
      </label>
    </div>

    <div class="unit-input">
      <input type="number" id="unit-input__input--hdpi" class="unit-input__input"  data-multiplier="1.5">
      <label for="unit-input__input--hdpi" class="unit-input__label">
        HDPI <span class="unit-input__multiplier">(1.5x)</span>
      </label>
    </div>

    <div class="unit-input">
      <input type="number" id="unit-input__input--xhdpi" class="unit-input__input"  data-multiplier="2">
      <label for="unit-input__input--hdpi" class="unit-input__label">
        XHDPI <span class="unit-input__multiplier">(2x)</span>
      </label>
    </div>

    <div class="unit-input">
      <input type="number" id="unit-input__input--xxhdpi" class="unit-input__input"  data-multiplier="3">
      <label for="unit-input__input--hdpi" class="unit-input__label">
        XXHDPI <span class="unit-input__multiplier">(3x)</span>
      </label>
    </div>

    <div class="unit-input">
      <input type="number" id="unit-input__input--xxxhdpi" class="unit-input__input"  data-multiplier="4">
      <label for="unit-input__input--hdpi" class="unit-input__label">
        XXXHDPI <span class="unit-input__multiplier">(4x)</span>
      </label>
    </div>

    <div class="unit-input unit-input--break">
      <input type="number" id="unit-input__input--dp" class="unit-input__input" data-multiplier="1">
      <label for="unit-input__input--dp" class="unit-input__label">
        DP
      </label>
    </div>

    <div class="unit-input">
      <input type="number" id="unit-input__input--sp" class="unit-input__input" data-multiplier="1">
      <label for="unit-input__input--sp" class="unit-input__label">
        SP
      </label>
    </div>

  </form>

  <p>We recommend creating your assets at one of the top densities (xxhdpi or
    xxxhdpi) and then scaling them down accordingly. To help you figure out what
    pixel sizes the other assets should be use the tool below. <a href="
    http://developer.android.com/design/style/devices-displays.html">Device display
    guidelines</a>.
  </p>
</div>
