<div class="section">
  <h2 class="section__header">Unit calculator</h2>
  <p>Enter the base unit required and the other fields will auto-fill</p>
  <noscript><strong>Please enable JavaScript to use the unit calculator</strong></noscript>
  <form class="unit-inputs">

    <div class="unit-input">
      <input type="number" id="unit-input__input--mdpi" class="unit-input__input" data-multiplier="1">
      <label for="unit-input__mdpi" class="unit-input__label">
        MDPI <span class="unit-input__multiplier">(1x)</span>
      </label>
    </div>

    <div class="unit-input">
      <input type="number" id="unit-input__input--hdpi" class="unit-input__input"  data-multiplier="1.5">
      <label for="unit-input__hdpi" class="unit-input__label">
        HDPI <span class="unit-input__multiplier">(1.5x)</span>
      </label>
    </div>

    <div class="unit-input">
      <input type="number" id="unit-input__input--xhdpi" class="unit-input__input"  data-multiplier="2">
      <label for="unit-input__hdpi" class="unit-input__label">
        XHDPI <span class="unit-input__multiplier">(2x)</span>
      </label>
    </div>

    <div class="unit-input">
      <input type="number" id="unit-input__input--xxhdpi" class="unit-input__input"  data-multiplier="3">
      <label for="unit-input__hdpi" class="unit-input__label">
        XXHDPI <span class="unit-input__multiplier">(3x)</span>
      </label>
    </div>

    <div class="unit-input">
      <input type="number" id="unit-input__input--xxxhdpi" class="unit-input__input"  data-multiplier="3">
      <label for="unit-input__hdpi" class="unit-input__label">
        XXXHDPI <span class="unit-input__multiplier">(3x)</span>
      </label>
    </div>

  </form>
</div>
